body {
  background: linear-gradient(135deg, #f5f7fa 0%, #e2c3c3 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

.card {
    width: 30rem;
    height: 30rem;
}
.card-title {
    font-family: "Bebas Neue", sans-serif;
}
.input-group {
  width: 20rem;
}
h2 {
  font-family: "Poppins", sans-serif;
}
.salida-numero {
  font-family: "Poppins", sans-serif;
}