body {
  background: linear-gradient(135deg, #f5f7fa 0%, #e2c3c3 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

.card {
    width: 30rem;
    height: 40rem;
}
.card-title {
    font-family: "Bebas Neue", sans-serif;
}